@import "bourbon";
@import "vars.scss";

@media (min-width: 768px) and (max-width: 991px){
  #sec_02{
    .sec_img-2 {
      max-width: 610px;
    }
  }
  #sec_03 {
    .title {
      margin-top: 25px;
    }
  }
  #sec_06 {
      padding: 50px 0;
      .sec_img{
        margin-top: 50px;
      }
  }
  #sec_08 {
      padding: 50px 0;
      .sec_img{
        margin-top: 50px;
      }
  }
  #sec_10 {
    .title {
      margin-top: 25px;
    }
  }
  #sec_13{
    .form_block{
      padding: 35px;
    }
  }
  .grey_section{
    [class*='col-']+[class*='col-']{
      text-align: center;
    }
    [class*='col-']:before{
      display: none;
    }
  }
  footer{
    .politics a{
      font-size: 13px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  #sec_03 {
    .title {
      margin-top: 25px;
    }
  }
  #sec_06 {
      padding: 50px 0;
  }
  #sec_08 {
      padding: 50px 0;
  }
  .grey_section{
    [class*='col-']+[class*='col-']{
      text-align: center;
    }
  }
}

@media screen and (max-height: 720px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  #sec_03 {
    .title {
      margin-top: 25px;
    }
  }
  #sec_04{
    padding-bottom: 60px;
  }
  #sec_05{
    padding-top: 0;
  }
  #sec_06 {
      .sec_img{
        margin-bottom: 0px;
      }
  }
  #sec_07{
    padding-top: 40px;
    .sec_img-1{margin-top: 20px;}
    .sec_img-2{margin-top: 0px !important ; margin-bottom: 0 !important;}
  }
  #sec_08 {
      padding: 50px 0;
      .sec_img{
        margin-top: 50px;
      }
  }
  #sec_09{
    .sec_img{margin-top: 10px !important ; margin-bottom: -60px !important;}
  }
  #sec_10 {
    .title {
      margin-top: 25px;
    }
  }
  #sec_11{
    padding-top: 30px;
    .row+.row{margin-top: 40px;}
  }
  #sec_13{
    .form_block{
      padding: 35px;
      margin: 80px auto 0;
    }
    .sec_img-1{margin-top: -10px !important ; margin-bottom: 0px !important;}
  }
  .grey_section{
    .sec_img{
      display: none;
    }
    [class*='col-']+[class*='col-']{
      text-align: center;
    }
    [class*='col-']:before{
      display: none;
    }
  }
  footer{
    text-align: center;
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 20px;
    }
  }
  div[id*="modal_callback"]{
    min-width: 420px;
    .md-content{
      padding: 35px;
      background: #fff;
    }
    h2{
      margin: 30px 0;
      line-height: 34px;
    }
    form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%;
    }
    .field{
      max-width: 360px;
      width: 100%;
    }
    .field+.field {
     margin-top: 15px
    }
    .btn{
      margin: 25px auto 0;
    }
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}
